#m6-f .boton{
    clear: both;
    margin: 18px 5%;
    margin-bottom:0px;
    float: left;
    width: 90%;
    background-color: #FF9900;
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-family: roboto-thin;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
#m6-f .ultimo-elemento{
    margin-bottom: 84px !important;
}

#m6-f .page-content{
        background-color: #3D464B;
    border-left: 1px solid #666;
}

#m6-f .titulo {
    margin: 15px 5%;
    float: left;
    width: 90%;
    font-family: roboto-thin;
    margin-bottom: 0px;
    box-sizing: border-box;
    font-size: 31px;
    text-align: center;
    color: #fff;
    text-shadow: none;

}

#m6-f .subtitulo {
    margin: 0px 5%;
    float: left;
    width: 90%;
    font-family: roboto-thin;
    margin-top: 0px;
    box-sizing: border-box;
    font-size: 16px;
    text-shadow: none;
    text-align: center;
    color: #b5b5b5;
}

#m6-f select{
    margin: 5px 5%;
    float: left;
    width: 90%;
    font-family: roboto-regular;
    border: 1px solid #666;
    box-sizing: border-box !important;
    font-size: 17px;
    background-color: #3D464B;
    outline: none;
    color: #666;
    padding: 12px !important;
    margin-top: 23px;

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url(../img/feedback-arrow.png);
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 100% 3px;
}

#m6-f textarea{
    margin: 5px 5%;
    float: left;
    width: 90%;
    outline: none;
    font-family: roboto-thin;
    box-sizing: border-box;
    font-size: 20px;
    color: #ccc;
    padding: 12px;
    margin-top: 6px;
    background-color: #3D464B;
    height: 175px;
    border: 1px solid #666;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}