

#m2-mc{
    background-color: #F7F5F6;
    background-image: none;
}

#m2-mc .ultimo-elemento{
    margin-bottom: 84px !important;
}

#m2-mc .letra{
    font-family: roboto-regular;
    text-align: center;
    padding: 13px;
    clear: both;
}

#m2-mc .proyecto{
    height: 80px;
    position: relative;
    overflow: hidden;
}
#m2-mc .proyecto .panel{
    /*width: -moz-calc(100% + 240px);
    width: -webkit-calc(100% + 240px);
    width: -o-calc(100% + 240px);
    width: calc(100% + 240px);*/

    left: 0px;
    right: -240px;
    position: absolute;


    /*width: 100%;*/
    height: 80px;
    /*margin-left: 0px;*/
}
#m2-mc .proyecto .panel.open .info{
    border-right-width: 2px !important;
}


#m2-mc .icono{
    width: 80px;
    height: 80px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    background-size: 100%;
    font-family: roboto-thin;
    text-align: center;
    font-size: 10px;
    padding-top: 53px;
}

#m2-mc .icono.sf{
    background-image: url(../img/mis-calculos/c1.png);
}

#m2-mc .icono.dw{
    background-image: url(../img/mis-calculos/c2.png);
}

#m2-mc .icono.t{
    background-image: url(../img/mis-calculos/c3.png);
}

#m2-mc .info{
    border-bottom: 1px solid #ccc;
    /*float: left;
    width: 289px;*/
    height: 80px;
  /*  width: -moz-calc(100% - 320px);
    width: -webkit-calc(100% - 320px);
    width: -o-calc(100% - 320px);
    width: calc(100% - 320px);*/



    left: 80px;
    right: 240px;
    position: absolute;



    background-image:url(../img/arrow-calc.png);
    background-repeat: no-repeat;
    background-position: 96%;
    border-right: 5px solid #FF9900;
    box-sizing: border-box;
}

#m2-mc .proyecto.primero .icono{
    border-top: 1px solid #ccc;
}

#m2-mc .proyecto.primero .info{
    border-top: 1px solid #ccc;
}





#m2-mc .titulo{
    color: #FF9900;
    font-family: roboto-regular;
    padding-left: 16px;
    padding-top: 15px;
    font-size: 20px;
}

#m2-mc .fecha{
    color: #999;
    font-family: roboto-thin;
    padding-left: 16px;
    font-size: 15px;
}

#m2-mc .editar{
    background-image: url(../img/mis-calculos/editar.png);
    right: 160px
}

#m2-mc .duplicar{
    background-image: url(../img/mis-calculos/duplicar.png);
    right: 80px
}

#m2-mc .eliminar{
    /*width: 79px !important;*/
    right: 0px;
    background-image: url(../img/mis-calculos/eliminar.png);
}
#m2-mc .editar,
#m2-mc .duplicar,
#m2-mc .eliminar{
    width: 80px;
    height: 80px;
    /*float: left;*/
    position: absolute;


    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 50% 39%;
    background-color: #FF9900;
    text-align: center;
    text-shadow: none;
    font-size: 12px;
    font-family: roboto-thin;
    color: #fff;
    padding-top: 54px;
    box-sizing: border-box;
}

#m2-mc .letraContainer > div:first-child{

}
