#m5-p .page-content{
    position: relative;
}
#m5-p .boton{
    clear: both;
    margin: 18px 5%;
    margin-bottom:0px;
    float: left;
    width: 90%;
    background-color: #FF9900;
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-family: roboto-thin;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

#m5-p .ultimo-elemento{
    margin-bottom: 84px !important;
}
#m5-p .titulo {
    background-color: #FF9900;
    text-align: left;
    text-shadow: none;
    color: #fff;
    padding: 0px;
    font-size: 25px;
    font-family: roboto-thin;
    height: 100px;
    line-height: 1;
    padding-left: 72px;
    padding-top: 22px;
    background-image: url(../img/proveedores/logo.png);
    background-repeat: no-repeat;
    background-position: 4px 30px;
}
#m5-p .map{
    background-color: #FEC671;
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(../img/proveedores/pin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#m5-p .subtitulo{
    left: 50px;
    right: 0px;
    position: absolute;
    height: 50px;
    background-color: #FFB647;
    font-family: roboto-regular;
    text-shadow: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    box-sizing: border-box;
}
#m5-p .imgs{
    clear: both;
    padding: 14px;
}

#m5-p .imgs div{
    float: left;
    margin-right: 2%;
    background-color: #E8E8E8;
    position: relative;
    width: 23%;
    height: 0;
    padding-bottom: 23%;
}

#m5-p .descripcion{
    clear: both;
    padding: 14px;
    color: #888;
    font-family: roboto-thin;
    margin-bottom: 4px;
}

#m5-p .info{
    padding: 2px 14px;
    color: #888;
    font-family: roboto-regular;
}

#m5-p .info span{
    font-family: roboto-thin;
}


/* Formulario de contacto */
#m5-p #provForm{
    display: none;
    clear: both;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
#m5-p #provForm .campo{
    outline: none;
    color: #FF9900;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D6D4D5;
    display: block;
    font-size: 22px;
    font-family: 'roboto-thin';
    height: 44px;
    line-height: 44px;
    margin: 0 auto 20px;
    padding: 0px 20px;
    width: 90%;
}
#m5-p #provForm .campo.textMsg{
    border: 1px solid #D6D4D5;
    height: 120px;
}
#m5-p #provForm .ui-btn{
    height: 0;
    margin: 0;
    overflow: hidden;
    border: none;
}
#m5-p #provForm .errors{
    display: none;
    text-align: center;
    margin: 0 0 20px;
}
#m5-p #provForm .errors p{
    color: #c73e14;
    font-weight: bold;
    margin: 0;
}
#m5-p #provForm .sendMail{
    display: block;
    float: none;
    margin: 0 auto 30px;
    text-decoration: none;
    width: 100%;
}
