#m5-pl select{

    float: left;
    width: 50%;
    font-family: roboto-thin;
    border: none;
    box-sizing: border-box !important;
    font-size: 12px;
    background-color: #64696C;
    outline: none;
    color: #fff;
    padding: 12px !important;
   /* margin-top: 23px;*/

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url(../img/proveedores-arrow.png);
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 100% 0px;

}
#m5-pl select.dd-sector{
    float: left;
    width: 100%;
    text-transform: capitalize;
}

#m5-pl .proveedor{
    padding: 18px 12px;
    float: left;
    width: 100%;
    border-right: 6px solid #FF9900;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    background-image: url(../img/plus2.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

#m5-pl .proveedor .nombre{
    font-family: roboto-regular;
    color: #FF9900;
    font-size: 18px;
}

#m5-pl .proveedor .detalle{
    font-family: roboto-thin;
    font-size: 14px;
}