#mensaje-enviado .boton{
    clear: both;
    margin: 18px 5%;
    margin-bottom:0px;
    float: left;
    width: 90%;
    background-color: #FF9900;
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-family: roboto-thin;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

#mensaje-enviado .ultimo-elemento{
    margin-bottom: 84px !important;
}

#mensaje-enviado .page-content{
    background-color: #3D464B;
    border-left: 1px solid #666;
    padding-top: 10px;
}

#mensaje-enviado .subtitulo {
    margin: 38px auto;
    width: 252px;
    font-family: roboto-thin;
    font-size: 16px;
    text-shadow: none;
    text-align: center;
    color: #b5b5b5;
}
