.menu{
    background-color: #3D464B;
}
.menu .titulo{
    color: #fff;
    text-shadow: none;
    font-family: "roboto-thin";
    padding: 13px 24px;
    font-size: 21px;
    border-bottom: 1px solid #495456;
}
.menu .item{
    color: #EDEDED;
    text-shadow: none;
    font-family: "roboto-regular";
    padding: 16px 24px;
    font-size: 19px;
    border-bottom: 1px solid #495456;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
}
.menu .item.selected{
    background-color: #FF9900;
}

.page-header{
    background-color: #495456;
    position: fixed;
    width: 100%;
    z-index:9999;
}
.page-header h1{
    text-shadow: none;
    width: auto;
    padding: 15px 45px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: "roboto-thin";
    font-size: 19px;
    font-weight: normal;
}
.page-header a.open-menu{
    background-image: url(../img/open-menu.png);
    display: block;
    width: 50px;
    height: 50px;
    background-size: 27px 22px;
    background-repeat: no-repeat;
    background-position: 10px 14px;
    position: absolute;
}

.page-header a.backBtn,
.page-header a.page-back{
    background-image: url(../img/arrow-back.png);
    display: block;
    width: 56px;
    height: 55px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
}


