@font-face {
    font-family: 'roboto-regular';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'roboto-thin';
    src: url("fonts/Roboto-Thin.ttf");
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: "roboto-thin";
    text-shadow: none;

    margin :0;
}
input{
    border-radius: 0px;
}

div[data-role="page"]{

}

.page-content{
    /*height: 100% !important;*/
    margin-top: 55px;
    /*overflow: auto;*/
}

#content{
    background-color: #fff;
}

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none;                  prevent copy paste, to allow, change 'none' to 'text' */
}

/* Estilo para darle un efecto a todos los botones y/o acciones */
.boton:active, .mas:active {
    background-color: #FF8800 !important;
}
.botongris:active {
    background-color: #999 !important;
}
.botongrissuave:active {
    background-color: #DBD9D9 !important;
}
.botonazul:active {
    background-color: #396AAA !important;
}