#page-1{
    background-color: #495458 !important;
    background-image: none;


}

.titulo{
    color: #E4E4E4;
    text-shadow: none;
    font-size: 35px;

    width: 100%;
    text-align: center;
    margin-top: 9px;
}

.subtitulo{
    color: #E4E4E4;
    text-shadow: none;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0px 58px;
    box-sizing: border-box;
    margin-bottom: 14px;
}

.campo{
    margin: 0 auto;
    width: 86%;
    display: block;
    background-color: #495458;
    color: #fff;
    border: 1px solid #7D7978;
    padding: 14px 16px;
    box-sizing: border-box;
    margin-top: 8px;
    outline: none;
    background-repeat: no-repeat;
    background-size: 26px;
    font-size: 17px;
}
.campo:focus{
    border: 1px solid #EE9209;
}

.username{
    background-position: 97% 50%;
    background-image: url(../img/login/username.png);
}

.password{
    background-position: 97% 50%;
    background-size: 17px;
    background-image: url(../img/login/password.png);
}

.recuperar{
    display: block;
    margin: 14px auto;
    width: 193px;
    text-align: center;
    color: #7d7d7d !important;
    text-shadow: none;
    text-decoration: none;
    font-size: 14px;
    /*font-family: roboto-regular;*/
    font-weight: bold;
}

.ingreso{
    margin: 0 auto;
    width: 86%;
    display: block;
    background-color: #FF9900;
    color: #FFf;
    padding: 13px 16px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    font-size: 23px;
}

.ingreso-fb{
    margin: 13px auto;
    width: 86%;
    display: block;
    background-color: #397DAA;
    color: #FFf;
    padding: 11px 16px;
    padding-right: 64px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    font-size: 17px;
    background-image: url(../img/login/facebook.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 54px;
}

.btn-footer{
    position: fixed;
    bottom: 0px;
    background-color: #7D7D7D;
    width: 100%;
    box-sizing: border-box;
    padding: 11px 32px;
    padding-right: 58px;
    text-shadow: none;
    text-decoration: none;
    color: #C8C8C8;
    font-size: 18px;
    text-align: center;
    background-image: url(../img/login/arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 56px;
}

.cuenta-nueva{
    bottom: 47px;
}

.sin-cuenta{

}

.shadow {
    opacity: 0.6;
    background-color: #000;
    width: 100%;
    position: absolute;
    z-index: 9990;
}

#dlg-generico {
    background-color: #F7F5F6;
    width: 300px;
    height: 255px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    z-index: 9999;
    display: none;
}
#dlg-generico .titulo{
    font-family: roboto-regular;
    color: #495456;
    padding: 23px;
    font-size: 21px;
    background-image: url(../img/warning.png);
    background-repeat: no-repeat;
    background-position: 90% 22px;
    background-size: 28px;
    box-sizing: border-box;
}

#dlg-generico .mensaje{
    font-family: roboto-thin;
    color: #495456;
    padding: 15px 23px;
    font-size: 14px;
}

#dlg-generico .boton{
    margin: 32px 23px;
    margin-bottom: 20px;
    width: 255px;
    background-color: #FF9900;
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-family: roboto-thin;
    padding: 11px;
    box-sizing: border-box;
    font-size: 20px;
}

